app.constant("FIREBASE_CONFIG",{
    apiKey: "AIzaSyBpvkLdNDTi0Ga_Dr_70PLEyv8Y_b9WVs8",
    authDomain: "angulartodo-9fd0c.firebaseapp.com",
    databaseURL: "https://angulartodo-9fd0c.firebaseio.com",
    projectId: "angulartodo-9fd0c",
    storageBucket: "angulartodo-9fd0c.appspot.com",
    messagingSenderId: "121358636762"
});